*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto","Helvetica Neue","Helvetica",Sans-Serif;
}

.wrapper {
margin: 0 auto;  
}

.constrain{
max-width: 1180px;
margin: 0 auto; 
}

.constrain-sm{
max-width: 800px;
margin: 0 auto; 
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 2em;
  color: black;
  border-bottom: 2px solid #e05d19;
  background-color: white;
}

.logo {
  height: 50px;
  margin-right: 20px;
}
.heading{
	letter-spacing: -0.05em;
}

/* Navigation styles -----------------------------*/


nav {
  padding: 30px;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #E05d19;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:nth-child(5) a {
    transition-delay: 0.6s;
  }
  .nav-container ul li:nth-child(6) a {
    transition-delay: 0.7s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}

/* End Navigation styles -----------------------------*/



/* Main Section styles -------------------------------*/

/* text styles -------------------------------------------------*/

main{
	
	border-bottom: 2px solid #e05d19;
}

.leading-bigtext {
  font-size: 1.6em;
  font-family: "Crete Round","Helvetica Neue","Helvetica",Sans-Serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 3em;	
  padding-bottom: ;
} 

.leading-text {
  max-width: 1180px;
  font-family: "Roboto","Helvetica Neue","Helvetica",Sans-Serif;
  line-height: 1.4em;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 3em;
  padding-bottom: 2em;
}

.leading-text a{
	color: black;
   text-decoration: underline;
}

.leading-text a:hover{
   text-decoration: none;
}

.sm-text{
   font-size: 0.9em;
}


article {
  font-family: "Roboto","Helvetica Neue","Helvetica",Sans-Serif;
  position: relative;	
}

article p{
  line-height: 1.4em;
  /* padding-top: 3px; */
  padding-left: 20px;
  padding-right: 1.5em;
  margin-bottom: 2em;
}

article h1{
	font-family: "Crete Round","Helvetica Neue","Helvetica",Sans-Serif;
	font-size: 1.6em;
	padding-left: 20px;
  	padding-right: 3em;
	padding-bottom: 0em;
}

article a{
   color: black;
   text-decoration: underline;
}

article a:hover{
   text-decoration: none;
}


.article-title {
  font-family: "Crete Round","Helvetica Neue","Helvetica",Sans-Serif;
  font-size: 1.3em;
  bottom: 0;
  width: 100%;
  padding-top: 0.25em;
  padding-left: 20px;	
  padding-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.2);
}

.article-intro{
  font-size: 1em;
  padding-left: 20px;
  padding-right: 2em;
  padding-bottom: 3em;
  max-width: 100%;	
  line-height: 1.2em;
}


section article a {
  text-decoration: none;	
}

section article a:hover {
  opacity: 0.9;
}

.lg-article a {
	color: black;
	text-decoration: none;	
}

.article-list{
  padding-left: 50px;
  padding-bottom: 20px;
  line-height: 1.4em;
}

.article-list li a{
   color: black;
   text-decoration: underline;
}

.article-list li a:hover{
   text-decoration: none;
}




/* image styles -------------------------------------------------*/

.article-img {
  height: 375px;
  width: 100%;
  object-fit: cover;
}

.article-img-flex {
  height: auto;
  width: 100%;
}


/* Flex styles -------------------------------------------------*/

.lg-row {
	display: -webkit-flex;	
    display: -ms-flexbox;	
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
		
	-webkit-justify-content: center;
	-ms-flex-pack:center;
	justify-content: center;
	
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.lg-article {
	-webkit-flex: 1 1 400px;
    -ms-flex: 1 1 400px; 
	flex: 1 1 400px;
}




/* Grid styles -------------------------------------------------*/

/* No Grid Fallback -------------------------------*/


/* Fallback for IE 10 it works but only if grid option switched off */
.cards{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.subject{
  flex: 1 1 320px;	
} 

 .cards {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  max-width: 1180px;
  margin: 0 auto 30px;
} 



.cards2 {
  display: -ms-grid;	
  display: grid;
  grid-gap: 5px;
  -ms-grid-colums: 	
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin: 0 auto 30px;	
}




/* Footer ----------------------------------------------*/

footer{
	/*height: 300px;*/
	font-size: 0.8em;
	line-height: 1.5em;
	color: white;
	margin-top: 4em;
	background-color: gray;
}

.footer-info{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.ft-col{
  flex: 1 1 150px;	
} 


.footer-info{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.footer-info section{
	margin: 20px;	
}

.footer-info h1{
	margin-bottom: 10px;	
}

.footer-info ul li a {
  outline: none;
  text-decoration: none;
  color: white;
}
.footer-info ul li a:hover {
  text-decoration: underline;
}

.footer-img {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}
.footer-social {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 50px;
}


.social-media-icons {
	list-style: none;
    margin 0;
    padding: 0;
}
.social-media-icons li {
	display: inline-block;
}

.social-media-icons a {
	background-image: url('../img/social-sprite.png'); 
    background-repeat: no-repeat;
    display: block;
    width: 32px;
	height: 32px;
}



/* sprite-settings */


.facebook {
    background-position: 0 0;
}
.social-media-icons a.facebook:hover {
    background-position: 0 -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}


.instagram {
    background-position: -32px 0;
}
.social-media-icons a.instagram:hover {
    background-position: -32px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}

.twitter {
    background-position: -64px 0;
}
.social-media-icons a.twitter:hover {
    background-position: -64px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}


.linkedin {
    background-position: -96px 0;
}
.social-media-icons a.linkedin:hover {
    background-position: -96px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}

.googleplus {
    background-position: -128px 0;
}
.social-media-icons a.googleplus:hover {
    background-position: -128px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}


.mailmw {
    background-position: -160px 0;
}
.social-media-icons a.mailmw:hover {
    background-position: -160px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}

/* end of sprite-settings */



.footer-social a {
	margin-right: 15px;
}
/*.footer-social img {
	height: 25px;
	width: 25px;
} */


.footer-disclaimer{
	background-color: #1f2227;
/*	height: 120px; */
	color: white;
	padding-top: 20px;	
	padding-bottom: 20px;
}

.footer-disclaimer p{
	text-align: center;
}

.footer-disclaimer p a{
	color: white;
	text-decoration: none;
}

.footer-disclaimer p a:hover{
	text-decoration: underline;
}










/*	edits for printouts */

@media print {
  
  nav {
display: none;
}

.footer-info {
	display: none;	
	}
	
.article-full > h1{
		margin-top: 2em	
	}
}



