/* BASE STYLES Defaults-----------------------------*/


*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;  /* Stop Safari on iPhone text scaling */
}

body {
  font-family: "Roboto","Helvetica Neue","Helvetica",Sans-Serif;     
}

h1, h2, h3, h4 {
  font-family: "Crete Round","Helvetica Neue","Helvetica",Sans-Serif;
}

body, main, header {
   background-color: white;
   color: black;
}

a {
  text-decoration: underline;
  color: black;    
}

a:hover, a:focus{
  text-decoration: none;
  color: black;   
}




/* END BASE STYES -----------------------------*/


/* LAYOUT STYLES -------------------------------*/

.l-full-wrapper {
   margin: 0 auto;  
}

.l-main-wrapper {
   max-width: 1400px;
   margin: 0 auto;  
}


.page-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #e05d19;
  background-color: white;    
  color: black;
  font-size: 2em;
 
}

.l-logo {
  height: 50px;
  margin-right: 20px;
}

main{
	
	/*border-bottom: 2px solid #e05d19; */
}

/* Footer ----------------------------------------------*/

.page-footer{
    color: white;
	background-color: gray;
    font-size: 0.8em;
	line-height: 1.5em;
}

/* Footer Information / Site Map Section */

/* Fallback for browsers that do not have grid support*/
.footer-info{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;    
}

.footer-info-wrapper{
    margin: 0 auto; 
}

.footer-info-section{
  flex: 1 1 150px;	
} 


.footer-info{
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    padding: 12px;
}

.footer-info-section{
	margin: 20px;	
}

.footer-info h1{
	padding-bottom: 10px;	
}

.footer-info ul li a {
    color: white;
    text-decoration: none;
}

.footer-info ul li a:hover {
  text-decoration: underline;
}


/* Footer Social Media Bar */

.footer-social {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 50px;
}


.social-media-icons {
    margin 0;
    padding: 0;
    list-style: none;
}

.social-media-icons li {
	display: inline-block;
}

.social-media-icons a {
    display: block;
    width: 32px;
	height: 32px;
    background-image: url('../img/social-sprite-6.png'); 
    background-repeat: no-repeat;
}

/* sprite-settings */


.facebook {
    background-position: 0 0;
}
.social-media-icons a.facebook:hover {
    background-position: 0 -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}

.instagram {
    background-position: -32px 0;
}
.social-media-icons a.instagram:hover {
    background-position: -32px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}

.twitter {
    background-position: -64px 0;
}
.social-media-icons a.twitter:hover {
    background-position: -64px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}


.linkedin {
    background-position: -96px 0;
}
.social-media-icons a.linkedin:hover {
    background-position: -96px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}

.googleplus {
    background-position: -128px 0;
}
.social-media-icons a.googleplus:hover {
    background-position: -128px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}


.mailmw {
    background-position: -160px 0;
}
.social-media-icons a.mailmw:hover {
    background-position: -160px -32px; 
   filter: alpha(opacity=80); /* Fallback for older versions of IE */
    opacity: 0.8;
}

/* end of sprite-settings */


.footer-social a {
	margin-right: 15px;
}



/* Footer Disclaimer Bar */

.footer-disclaimer{
	padding-top: 20px;	
	padding-bottom: 20px;
    background-color: #1f2227;
}

.footer-disclaimer p{
	text-align: center;
}

.footer-disclaimer p a{
	color: white;
	text-decoration: none;
}

.footer-disclaimer p a:hover{
	text-decoration: underline;
}

/* Footer Image Decoration Bar */

.footer-img {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

/* End Footer -----------------------------------------*/

/* END LAYOUT STYLES -----------------------------*/


/* Navigation styles -----------------------------*/


nav {
  padding: 30px;
}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #E05d19;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:nth-child(5) a {
    transition-delay: 0.6s;
  }
  .nav-container ul li:nth-child(6) a {
    transition-delay: 0.7s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #E05d19;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}

/* End Navigation styles -----------------------------*/

/* RE-USABLE MODULE STYLES ---------------------------*/

.constrain{
max-width: 1180px;
margin: 0 auto; 
}

.constrain-sm{
max-width: 800px;
margin: 0 auto; 
}


.heading{
	letter-spacing: -0.05em;
}


/* Re-usable Responsive Items-----*/



.flex-row-wrap {
	display: -webkit-flex;	
    display: -ms-flexbox;	
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
		
	-webkit-justify-content: center;
	-ms-flex-pack:center;
	justify-content: center;
	
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
    
    padding-top: 2em;
}

.polaroid-flex-row-wrap {
	display: -webkit-flex;	
    display: -ms-flexbox;	
	display: flex;
	
    -webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
		
	-webkit-justify-content: space-evenly;
	-ms-flex-pack:space-evenly;
	justify-content: space-evenly;
	
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
    
    padding-top: 2em;
}


.lg-flex-item {
	-webkit-flex: 1 1 400px;
    -ms-flex: 1 1 400px; 
	flex: 1 1 400px;
}

.flex-item-img-lg {
	-webkit-flex: 2 1 400px;
    -ms-flex: 2 1 400px; 
	flex: 2 1 400px;
}


.sm-flex-item{
    -webkit-flex: 1 0 100px;
    -ms-flex: 1 0 100px;
    flex: 1 0 100px;
}




/* Re-usable Grid Option -------------------------------------------------*/


/* Cards 320px -----------*/

/* Flexbox Fallback for IE 10 it works but only if grid option switched off */
.cards{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.card-subject{
  flex: 1 1 320px;	
} 

/* feature query for grid*/
 
@supports (display:grid){
.cards {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin: 0 auto 30px;
} 
}

/* end_Cards 320px ----------*/



/* Grid Trio Image Module right ----*/

.grid-image-trio-right {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
	padding-bottom: 1.2em;
}

.grid-image-trio-lg-item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.grid-image-trio-sm-item2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;    
}

.grid-image-trio-sm-item3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;   
}


@media (min-width: 700px) {
  
    .grid-image-trio-right {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;    
	padding-bottom: 1.2em;
}

.grid-image-trio-lg-item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.grid-image-trio-sm-item2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;    
}

.grid-image-trio-sm-item3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;   
}
   
}

/* ---------------------------*/



/* Re-usable Responsive Image Items-----*/

.article-img {
    width: 100%;
    height: 375px;
    object-fit: cover;
}

.article-img2 {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.article-img-flex {
    width: 100%;
    height: auto;
}

.article-img-sm {
    width: 100%;
    height: 100px;
    object-fit: cover;
}




/* Re-usable Text Styles-----*/

.leading-bigtext {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 3em;
  font-size: 1.6em;
} 

.leading-text {
  max-width: 1180px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 3em;
  padding-bottom: 2em;
  line-height: 1.4em;
}

.leading-text a{
   color: black;
   text-decoration: underline;
}

.leading-text a:hover{
   text-decoration: none;
}

.sm-text{
   font-size: 0.9em;
}

.float-item-left{
    float: left;
    background-color: yellow;
}


/* Re-usable Article Styles-----*/


.full-article {
  position: relative;	
}

.full-article-header{
  display:block;
  font-size: 1em;
  border:none;
}

.pub-details{
   color: grey; 
   font-size: 0.8em;
}

.pub-details address{
   color: grey;  
}

.pub-details address a{
   color: grey;  
}

time {
    display: inline;
}

.full-article-text{
    max-width: 75ch;
    margin: 20px 20px 0px 20px;
}

.full-article-text p:first-child{
    padding-top:0px;
}

.side-item{
    background-color: yellow;
    width: 350px;
    margin: 0 auto;
    
}



@media screen and (min-width: 950px){

    .full-article-text{
    margin: 20px 8em 0px 12em;
}
    
    
.side-item{
    float:right
        
}    
 
}



.f-article-pullquote:after {
	

	/*  !Content  */
	content: attr(data-pullquote); 
    
    display:block;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;

	color: #e05d19;
    
    /*  !Typography  */
	font-size: 22px;
    text-shadow: none;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4;
}






.full-article p{
  padding-top: 1.5em;
  line-height: 1.4em;
}

.full-article h1{
	padding-left: 20px;
  	padding-right: 3em;
	padding-bottom: 0em;
    font-size: 1.6em;
}


.full-article h2{
	padding-left: 20px;
  	padding-right: 3em;
	padding-bottom: 0em;
    font-size: 1.4em;
}

.full-article a{
   color: black;
   text-decoration: underline;
}

.full-article a:hover{
   text-decoration: none;
}



.full-article-footer{
  margin-top: 0px;
  padding: 20px;
  color: #1f2227;
  background-color: #fff;
}

.full-article-footer p{
    padding-top:1em;
    font-style: italic;
}




.polaroid-image
{
    /*  Flex item child inside a Flexbox container but the flex item does not grow or shrink   */
    -webkit-flex: 0 0 250px;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    
    /*  Makes this element the containing block/ positioning context for use by the absolute positioning values of the attribute polaroid-caption   */
    position:relative;
    

    border: 1px solid darkgrey;
    background-color: white;
    padding: 15px 15px 60px 15px;
    box-shadow: 5px 10px 10px darkgrey;
    margin-bottom: 20px;
}

.polaroid-image:after
{
    content: attr(polaroid-caption);
    position: absolute;
    top: 255px;
    left: 15px;
    padding: 10px;
    color: grey;
    font-size: 0.8rem;
    text-align: left;
    font-family: "Crete Round","Helvetica Neue","Helvetica",Sans-Serif;
    font-style: italic;
}



/* End Module styles -------------------------------------*/















.article-title {
  font-size: 1.3em;
  bottom: 0;
  width: 100%;
  padding-top: 0.25em;
  padding-left: 20px;	
  padding-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.2);
}

.article-intro{
  font-size: 1em;
  padding-left: 20px;
  padding-right: 2em;
  padding-bottom: 3em;
  max-width: 100%;	
  line-height: 1.2em;
}





.article-list{
  padding-left: 50px;
  padding-bottom: 20px;
  line-height: 1.4em;
}

.article-list li a{
   color: black;
   text-decoration: underline;
}

.article-list li a:hover{
   text-decoration: none;
}






/* image styles -------------------------------------------------*/







.article-image-footer > div > img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}


/* Flex styles -------------------------------------------------*/






/* Grid styles -------------------------------------------------*/

/* No Grid Fallback -------------------------------*/






/*
.article-text-area{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr minmax(40ch, 65ch) 1fr;
	grid-template-rows: min-content min-content min-content auto min-content;
    font-size: 1em;
   padding-top: 2em;
    padding-bottom: 3em; 
  max-width: 100%;	
  line-height: 1.2em;
}

#text1{
    grid-column: 3/5;
}

*/

article footer{
    font-size: 1em;
    margin-top: 2em;
    color: black;
	background-color: white;
}











/*	STATE STYLES */



.lg-flex-item a {
    text-decoration: none;
}

.card-subject a {
    text-decoration: none;
}

.lg-flex-item a:hover {
    opacity: 0.9;
}

.card-subject a:hover {
    opacity: 0.9;
}






/*	edits for printouts */

@media print {
  
  nav {
display: none;
}

.footer-info {
	display: none;	
	}
	
.article-full > h1{
		margin-top: 2em	
	}
    
.full-article-text{
    margin: 20px 2em 0px 12em;
    font-size: 10pt;
}
    
    .full-article-footer p{
      font-size: 10pt;  
    } 
    
    
    .f-article-pullquote:after{
        font-size: 14pt;
        line-height: 1.4;
    }
    
    .footer-disclaimer small{
        font-size: 8pt;
        line-height: 1;
    }
    
}

/*	END STATE STYLES */

